<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-2">
        <strong><i>Fuel Price</i></strong>
    </div>
    <div class="col-md-3" ng-show="fulePriceCities.length>0">
        <select ng-model="Fuel.selectedFuel" ng-change="ChangePriceCities()" style="width:100%" ng-options="o as o for o in fulePriceCities"></select>
    </div>
    <div class="col-md-3" ng-show="fulePriceCities.length>0">
        <label><input type="radio" name="FuleChoose" checked ng-value="petrol" ng-click="GetPetrolPrice('petrol')" /> Petrol</label>
        <label><input type="radio" name="FuleChoose" ng-value="diesel" ng-click="GetPetrolPrice('diesel')" />Diesel</label>
        <i>Price</i>:{{fulePrice}}
    </div>
</div>
